.banner{
    background: url("https://image.freepik.com/free-photo/abstract-banner-lego-art-poster-transparent-psd-file_460848-6826.jpg")
    no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: aliceblue;
    
}
